<a href="https://colab.research.google.com/github/RubinPoz/Assignments/blob/main/In_class_Notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = input("Please provide your name: ")
print("Hi", name)
type(name)

Please provide your name: broski
Hi broski

str

In [ ]:
age = input("Please provide your age: ")
age = int(age)
print("Your age is", age)
type(age)

Please provide your age: 8
Your age is 8

int

In [ ]:
age = int(input("please provide your age: "))
print(age + 10)
type(age)

KeyboardInterrupt: Interrupted by user

In [ ]:
if condition :
  expr
  expr
  expr

In [ ]:
fico= int(input('please provide your FICO score: '))

if fico >= 700:
  print('Loan granted!')
elif fico < 700:
  print('Loan denied!')

please provide your FICO score: 500
Loan denied

In [ ]:
num = float(input("Please enter your number grade (0-100): "))

if num >= 97:
  print('A+')
  print('Outstanding!')
elif num >= 93:
  print('A')
  print('Excellent!')
elif num >= 90:
  print('A-')
  print('Very good!')
elif num >= 87:
  print('B+')
  print('Good job!')
elif num >= 83:
  print('B')
  print('Nice!')
elif num >= 80:
  print('B-')
elif num >= 77:
  print('C+')
elif num >= 73:
  print('C')
elif num >= 70:
  print('C-')

Please enter your number grade (0-100): 76
C

In [ ]:
customer_type = input('please provide your customer type (N: new/E: exisiting): ')
deposit = float(input('please provide your deposit amount ($): '))

if customer_type == 'E':
  if deposit >= 10_000:
    ir = 3.5 # % value
  elif deposit >= 1_000:
    ir = 3.25 # % value
  else:
    ir = 3.0 # % value
else:
  if deposit >= 10_000:
    ir = 4.5 # % value
  elif deposit >= 1_000:
    ir = 4.25 # % value
  else:
    ir = 4.0 # % value

total = (1 + ir/100) * deposit
print(f'total deposit: {total}$')

please provide your customer type (N: new/E: exisiting): E
please provide your deposit amount ($): 5000
total deposit: 5162.5$

In [ ]:
customer_type = input('please provide your customer type (N: new/E: exisiting): ')
deposit = float(input('please provide your deposit amount ($): '))

if customer_type == 'E' and deposit >= 10_000:
  ir = 3.5 # % value
elif customer_type == 'E' and deposit >= 1_000:
  ir = 3.25 # % value
elif customer_type == 'E' and deposit <1_000::
  ir = 3.0 # % value
elif customer_type == 'N':
  ir = 4.0 # % value

In [ ]:
n1 = int(input('please provide your first input: '))
operator = input('please provide your equation: ')
n2 = int(input('please provide second input: '))

if operator == '+':
  equation = n1 + n2
elif operator == '-':
  equation = n1 - n2
elif operator == '*' or 'x':
  equation = n1 * n2
elif operator == '/':
  equation = n1 / n2
elif operator == '**':
  equation = n1 ** n2
elif operator == '%':
  equation = n1 % n2
elif operator == '//':
  equation = n1 // n2
else:
  print('invalid operator')
print(equation)

please provide your first input: 7890
please provide your equation: 0
please provide second input: 0
0

In [ ]:
for i in range(2,11,2):
    print(i)

2
4
6
8
10

In [ ]:
num = 1

while num < 5:
  print(num,num ** 2, num ** 3)
  num = num + 1

1 1 1
2 4 8
3 9 27
4 16 64

In [ ]:
s = input('Enter yes or no: ')

while s == 'yes':
  print('Ok!')
  s = input('Enter yes or no: ')

Ok!
Ok!
Ok!
Ok!
Ok!

KeyboardInterrupt: Interrupted by user

In [ ]:
num = 9

while num > 0:
  num = num - 1
  if num == 5:
    break
  print(num)
print('End')

In [ ]:
for num in range(1, 11):
  if num % 2 != 0:
    continue
  print(num, end = ' ')

2 4 6 8 10

In [ ]:
s1 = "This is a string"
s2 = " and this is also a string "
s1 + s2

len(s2)
s1[0:4]
s2[22:len(s2)] == s2[22:]
s1[:] == s1[0:len(s1)]
s = "qwertyuioplkjhgfdsazxcvbnm"
s[1:len(s)-1] == s[1:-1]

True

Insert can add anywehre, extend adds at the end of the list

In [ ]:
T = [1, "two", 3.14, [4, 5, 6]]
T.pop(5)
T

IndexError: pop index out of range

In [ ]:
T = [1, "two", 3.14, [4, 5, 6]]
T.remove(3.14)
T

[1, 'two', [4, 5, 6]]

In [ ]:
L = [5, 8, 1, 0, '2', 4]
L.sort()
L

TypeError: '<' not supported between instances of 'str' and 'int'

In [ ]:
emptyL =[]
emptyT = []
emptyL + [4]




grades = {
    'John' : 93,
    'Jane' : 95,
    'Bob' : 91,
    'Alice' : 91,
}


print(len(grades))
grades['Bob']
grades['Bryan'] = 100
print(grades)

del(grades['Bryan'])
print(grades)


for v in grades.values():
  print(v)

4
{'John': 93, 'Jane': 95, 'Bob': 91, 'Alice': 91, 'Bryan': 100}
{'John': 93, 'Jane': 95, 'Bob': 91, 'Alice': 91}
93
95
91
91

In [ ]:
for k, v in grades.items():
  print(k, v)

John 93
Jane 95
Bob 91
Alice 91

In [ ]:
db = {
    'example@miami.edu': {
     'name' : 'John Doe',
     'phone' : '(555) 123-4567'
    },
        'example2@miami.edu': {
     'name' : 'Jane Doe',
     'phone' : '(555) 123-4567'
    }
}

for k, v in db.items():
  print(k, db[k]['phone'])

example@miami.edu (555) 123-4567
example2@miami.edu (555) 123-4567

In [ ]:
months = {}

names = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]